<section class="simulador-container">
  <h1>Simulador de Crédito educativo</h1>
  <p class="subtitulo">
    Calcula el valor de la cuota o el monto que puedes solicitar de acuerdo con las necesidades de crédito y capacidad de pago.
  </p>

  <div class="caracteristicas">
    <h2>Características</h2>
    <div class="iconos">
      <div class="item">
        <img src="agregar-usuario.png" alt="Ícono persona">
        <p>Edad entre<br><strong>18 y 84</strong></p>
      </div>
      <div class="item">
        <img src="billete-de-banco.png" alt="Ícono dinero">
        <p>Monto mínimo<br><strong>$1.000.000</strong></p>
      </div>
      <div class="item">
        <img src="calendario.png" alt="Ícono calendario">
        <p>Plazo entre<br><strong>48 y 84 meses</strong></p>
      </div>
    </div>
  </div>

  <a class="boton-continuar" routerLink="/simulador/formulario">CONTINUAR</a>
</section>

