.resultados-container {
    max-width: 400px;
    margin: 2rem auto;
    border: 1px solid var(--color-texto);
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-body);
}

.resultado-titulo {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--font-titulos);
    color: var(--color-titulos);
}

.resultado-titulo img {
    width: 20px;
    height: 20px;
}

.monto-solicitado {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: var(--font-titulos);
    color: var(--color-titulos);
}

.texto-cuota {
    color: var(--color-texto);
    margin-bottom: 0.5rem;
    font-family: var(--font-body);
}

.cuota-valor {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-titulos);
    font-family: var(--font-titulos);
}

.datos-extra {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-family: var(--font-body);
    color: var(--color-texto);
}

/* Contenedores derecha */

.contenedor-pagina-resultados {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 80px;
}

.contenedor-datos-principal {
    margin-top: 40px;
    margin-left: -600px;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta-datos-usuario h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: var(--font-titulos);
    color: var(--color-titulos);
}

.contenedor-tarjetas-centro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarjeta-lateral {
    margin-top: 40px;
    background-color: rgb(240, 240, 240);
    padding: 24px 30px;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
    min-height: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.titulo-lateral {
    font-size: 17px;
    color: var(--color-titulos);
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
    font-family: var(--font-body);
    font-weight: 400;
}

.valor-lateral {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primario);
    font-family: var(--font-titulos);
}

p {
    color: var(--color-titulos);
    font-family: var(--font-body);
    padding-top: 20px;
    padding-bottom: 0px;
    margin-left: 20px;
}

.texto-datos-usuario {
    color: var(--color-titulos);
    margin-left: 10px;
}


.boton-nueva-simulacion {
    margin-top: 30px;
    width: 100%;
    background-color: var(--color-secundario);
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-titulos);
    font-weight: bold;
    font-size: 18px;
}

/* Diagrama impuestos */

.contenedor-diagrama {
    margin-top: -560px;
    margin-left: 1070px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 400px; 
    height: 520px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.titulo-diagrama {
    font-family: var(--font-titulos);
    color: var(--color-titulos);
    margin-top: 15px;
    margin-bottom: 95px;
    font-size: 22px;
}

.grafico-diagrama {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 200px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.barra {
    width: 20px;
    background-color: var(--color-primario);
    border-radius: 4px;
}

.meses-diagrama {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    font-size: 0.8rem;
    color: var(--color-texto);
    padding-left: 35px;
}

.diagrama-contenido {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.porcentajes-laterales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    font-size: 0.8rem;
    color: var(--color-texto);
    margin-top: 10px;
}


/* RESPONSIVE */
/* RESPONSIVE TABLET */
@media (max-width: 992px) {
    .contenedor-pagina-resultados {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contenedor-datos-principal {
        width: 90%;
        margin-left: 10px;
    }

    .contenedor-diagrama {
        width: 90%;
        margin-top: 70px;
        margin-left: 30px;
    }

    .contenedor-tarjetas-centro {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 10px;
    }
}

/* RESPONSIVE MÓVIL */
@media (max-width: 576px) {
   .contenedor-pagina-resultados {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contenedor-datos-principal {
        width: 90%;
        margin-left: 20px;
    }

    .contenedor-diagrama {
        width: 90%;
        margin-top: 70px;
        margin-left: 0px;
    }

    .contenedor-tarjetas-centro {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 10px;
    }
}


