* {
    margin: 0px;
    padding: 0px;
}

/*HEADER*/
.header {
    height: 70px;
    display: flex;
    align-items: center;
    color: var(--color-primario);
    font-family: var(--font-titulos);
    font-weight: bolder;
    font-size: 14px;
}

.logo {
    font-family: var(--font-titulos);
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: 20px;
}

.menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-left: 40px;
    margin-top: 28px;
}

.menu span {
    cursor: default;
    padding-left: 10px;
}

.link-simulador {
    color: var(--color-secundario);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

/* RESPONSIVE */
/* RESPONSIVE TABLET */
@media (max-width: 992px) {
    .header {
        padding: 0 15px;
    }

    .logo {
        font-size: 1.5rem;
    }

    .menu {
        gap: 1rem;
    }

    .link-simulador {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }
}

/* RESPONSIVE MÓVIL */
@media (max-width: 576px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
        align-items: flex-start;
    }

    .logo {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    .link-simulador {
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
    }
}

