<section class="home-container">
    <div class="triangulo-rombo"></div>
    <p class="texto-triangulo">QUEREMOS SABER DE TI</p>
    <div class="contenido">
        <h1>Cambiemos juntos el <br> mundo</h1>
        <p class="texto-principal">Si deseas conocer más acerca de ROMBO y ayudarnos a cambiar las <br> estructuras sociales piramidales, 
        formar parte de nuestro equipo o <br> simplemente quieres enviarnos un mensaje, escríbenos a continuación.</p>
    </div>
    <img class="imagen-portada" src="bannerContacto.png" alt="Imagen de la portada">
</section>

<footer></footer>

